<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reservar Local</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Sala:</ion-label>
        <ion-select okText="OK" cancelText="CANCELAR" [(ngModel)]="resultRoom">
          <div *ngFor="let r of room">
            <ion-select-option [value]=r[1]>{{r[1]}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Data:</ion-label>
        <ion-datetime 
          displayFormat="DD/MM/YYYY HH:00" 
          pickerFormat="DDDD MMM YYYY HH" 
          [(ngModel)]="resultDate" 
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
          max="2050"
          done-text="OK"
          cancel-text="CANCELAR"
        ></ion-datetime>
      </ion-item>
      <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="resultRoom == ''">Reservar</ion-button>
    </ion-card-content>
  </ion-card>
 
  <ion-row style="position: absolute; z-index: 999999">
    <ion-col size="6">
      <ion-button expand="block" [color]="calendar.mode == 'month' ? 'medium' : 'primary'" (click)="changeMode('month')">
        <span style="width: 300px">Calendário</span>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" [color]="calendar.mode == 'day' ? 'medium' : 'primary'" (click)="changeMode('day')">
        <span style="width: 300px">Cronograma</span>
      </ion-button>
    </ion-col>
  </ion-row>
 
  <ion-content [style.top]="value">
    <calendar 
      [eventSource]="eventSource" 
      [calendarMode]="calendar.mode" 
      [currentDate]="calendar.currentDate"
      [locale]="calendar.locale"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)" 
      startHour="6"
      endHour="23"
      step="30"
      startingDayWeek="1"
    >
    </calendar>
  </ion-content>
 
</ion-content>
