<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Minhas Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]=search (keyup)="Search($event)" placeholder="Buscar"></ion-searchbar>
  <ion-grid *ngIf="!result">
    <ion-row *ngFor="let r of reserves">
      <ion-col (click)="Selected(r)" size="2"><span><b>N°{{r[0]}}</b></span></ion-col>
      <ion-col (click)="Selected(r)"><span>Sala {{r[2]}} - {{r[8]}} - {{r[7]}}</span></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="result">
    <ion-row *ngFor="let r of result">
      <ion-col (click)="Selected(r)" size="2"><span><b>N°{{r[0]}}</b></span></ion-col>
      <ion-col (click)="Selected(r)"><span>Sala {{r[2]}} - {{r[8]}} - {{r[7]}}</span></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
